.field-alert {
  color: red;
  font-size: 12px;
  display: block;
}

.register-user-title {
  margin: auto;
}

.register-user-title h3 {
  width: 100%;
  text-align: center;
}

.form-action {
  margin: auto;
}

.form-action .actions-btn {
  width: 100%;
}

.pull-right {
  float: right;
  margin-left: 10px;
}
