<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="row register-user-title">
    <h3>Registrar usuário</h3>
  </div>
  <input type="hidden" formControlName="idUser" value="0" />
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nome completo</label>
        <input type="text" formControlName="nome" value="" class="form-control" />
        <span class="field-alert" *ngIf="( form.controls.nome.dirty || form.controls.nome.touched ) && form.controls.nome.errors?.required">Nome é obrigatório</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Apelido</label>
        <input type="text" formControlName="apelido" value="" class="form-control" />
        <span class="field-alert" *ngIf="( form.controls.apelido.dirty || form.controls.apelido.touched ) && form.controls.apelido.errors?.required">Apelido é obrigatório</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Senha</label>
        <input type="password" formControlName="senha" value="" class="form-control" />
        <span class="field-alert" *ngIf="( form.controls.senha.dirty || form.controls.senha.touched ) && form.controls.senha.errors?.required">Senha é obrigatório</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Confirme sua senha</label>
        <input type="password" formControlName="confirmaSenha" value="" class="form-control" />
        <span class="field-alert" *ngIf="( form.controls.confirmaSenha.dirty || form.controls.confirmaSenha.touched ) && form.controls.confirmaSenha.errors?.required">Confirmação de senha é obrigatório</span>
        <span class="field-alert" *ngIf="form.controls.confirmaSenha.hasError('equalValue')">Senha não confere</span>
      </div>
    </div>
  </div>

  <div class="row form-action">
    <div class="actions-btn">
      <button class="pull-right btn btn-danger" (click)="cancelar()">Cancelar</button>
      <button class="pull-right btn btn-success" [disabled]="form.controls.nome.errors?.required ||
                                                             form.controls.apelido.errors?.required ||
                                                             form.controls.senha.errors?.required ||
                                                             form.controls.confirmaSenha.errors?.required ||
                                                             form.controls.confirmaSenha.hasError('equalValue')" type="submit">Registrar</button>
    </div>
  </div>
</form>
