<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="alert"
     [class.alert-danger]="typeAlert === 'danger'"
     [class.alert-secondary]="typeAlert === 'secondary'"
     [class.alert-success]="typeAlert === 'success'"
     [class.alert-warning]="typeAlert === 'warning'"
     [class.alert-info]="typeAlert === 'info'"
     [class.alert-light]="typeAlert === 'light'"
     [class.alert-dark]="typeAlert === 'dark'"
     *ngIf="isAlert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  {{messageAlert}}
</div>

<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h4>{{nomeUsuario}}</h4>
        </div>
        <div class="srch_bar">
          <div class="stylish-input-group">
            <input type="text" class="search-bar" [(ngModel)]="searchUser" placeholder="Procurar" (change)="getUserList(searchUser)">
          </div>
        </div>
      </div>
      <div class="inbox_chat scroll">
        <div class="chat_list" *ngFor="let user of userList" [class.active_chat]="nomeUsuarioSelecionado===user.apelido">
          <div class="chat_people" (click)="setUsuarioSelecionado(user.idUser, user.apelido)">
            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="chat_ib">
              <h5>{{user.nome}} <span class="chat_date">{{user.mensagensNaoLidas}} Msg(s)</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mesgs">
      <div class="msg_history" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let messageItem of userMessages">
          <div class="incoming_msg" *ngIf="messageItem.userApelido != nomeUsuario">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>{{messageItem.message}}</p>
                <span class="time_date">{{messageItem.dataHora | date: 'dd/MM/yyyy HH:mm' }}</span>
              </div>
            </div>
          </div>
          <div class="outgoing_msg" *ngIf="messageItem.userApelido === nomeUsuario">
            <div class="sent_msg">
              <p>{{messageItem.message}}</p>
              <span class="time_date"> {{messageItem.dataHora | date: 'dd/MM/yyyy HH:mm' }} <i class="fa fa-check" [class.msg_lida]="messageItem.isLida" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input type="text" class="write_msg" [(ngModel)]="messageText" (change)="sendMessage()" placeholder="Digite a mensagem..." />
          <button class="msg_send_btn" type="button" [disabled]="idUsuarioSelecionado === undefined || messageText === undefined" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
