.login-area {
    margin: auto;
    width: 400px;
}

.login-action {
    margin: auto;
}

.login-action .btn {
  margin: auto;
  width: 50%;
}

.field-alert {
    color: red;
    font-size: 12px;
    display: block;
}

.login-title {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login-title h3 {
    width: 100%;
    text-align: center;
}
