<div class="alert alert-danger" *ngIf="isAlert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  {{alertMessage}}
</div>

<form [formGroup]="form" class="login-area" (ngSubmit)="onSubmit(form.value)">
  <div class="row login-title">
    <h3>Login - Comprocard Chat</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Apelido</label>
        <input type="text" class="form-control" formControlName="apelido" value="" />
        <span class="field-alert" *ngIf="( form.controls.apelido.dirty || form.controls.apelido.touched ) && form.controls.apelido.errors?.required">Apelido é obrigatório</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" formControlName="senha" value="" />
        <span class="field-alert" *ngIf="( form.controls.senha.dirty || form.controls.senha.touched ) && form.controls.senha.errors?.required">Senha é obrigatório</span>
        <span class="field-alert" *ngIf="( form.controls.senha.dirty || form.controls.senha.touched ) && form.controls.senha.hasError('minlength')">Senha deve ter no mínimo 6 caracteres</span>
      </div>
    </div>
  </div>

  <div class="row login-action">
    <button class="btn btn-success" type="submit" [disabled]="(form.controls.apelido.errors?.required || form.controls.senha.errors?.required || form.controls.senha.hasError('minlength'))">Entrar</button>
    <button class="btn btn-primary" type="button" (click)="registerUser()">Registrar</button>
  </div>
</form>
